.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
  }
  
  .search-box {
    width: 100%;
    max-width: 600px;
  }
  
  .search-box .mat-mdc-form-field-outline {
    border-color: violet !important;
  }
  
  .search-box input {
    font-size: 1.2rem;
    padding: 10px;
  }
  